@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');
header{
    background-color: rgb(41, 168, 41);
    height: fit-content;
    color: white;
    /* 7, 150, 7 */
}
*{
    margin: 0;
    padding: 0;
}
.Logo{
    margin: auto;
}
.nav{
    text-decoration: solid;
    text-align: center;
    font-size: 1cm;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}
main{
    height: fit-content;
    /* height: 84.85vh; */
    /* height: fit-content; */
}
.footer{
    background-color: rgb(41, 168, 41);
    /* height: 8vh; */
    /* height: 30vh; */
    height: fit-content;
    color: white;
    /* 25.85 */
}
.text{
    margin-left: 5vw;
    font-family: 'Open Sans', sans-serif;
    font-size: 1cm;
    

}
.text2{
    font-family: 'Open Sans', sans-serif;
    font-size: larger;
    margin-left: 6vw;
    font-style: italic;
    

}
p{
    font-weight: 600;
}
text3{
    text-align: center;
    
}
.text3{
    text-align: center;
    font-size: .6cm;
}
.text4{
    font-size: .6cm;
    margin-left: 6vw;

}
ul{
    font-weight: 600;

}
.haha{
    font-size: .7cm;
    font-weight: 700;
}
.text5{
    font-weight: 100;
    font-size: medium;
    margin-bottom: .2cm;
}
.Copyright{
    background-color: rgb(41, 168, 41);
    height: 1cm;
    text-align: center;
    margin-top: 6px;
    font-style: normal;
    font-family: 'Open Sans', sans-serif;

    /* 45.85 */
}
@media screen and (max-width: 296px) {
    .text{
        font-size: .7cm;
    }
    .text3{
        font-size:  0.4cm; 
    }    
  }
  @media screen and (max-width: 337px) {
    .text{
        font-size: .8cm;
    }
    .text2{
        font-size: 0.3cm;
    }
  }
  @media  screen and (max-width:339px){
    .text3{
        font-size: 0.4cm;
    }
    
  }